<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<div class="container">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", style: "width: 180px;" %>
  <% end %>

    <ul class="navbar-nav pt-4">

      <li class="nav-item d-flex">
        <p> <%= link_to "HOME", root_path, class: "nav-link mx-3" %></p>
        <%= link_to "ABOUT HONEY MAX", about_path, class: "nav-link mx-3" %>
        <%= link_to "OUR HONEY", honey_path, class: "nav-link  mx-3" %>
        <%= link_to "CONTACT US", contact_path, class: "nav-link  mx-3" %>
      </li>

    </ul>

</div>


</div>
